@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
    --blue: #284B63;
    --green: #3C6E71;
    --white: #FFFFFF;
    --grey: #D9D9D9;
    --black: #353535;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */

.container-hero {
    background-color: var(--white);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i {
    font-size: 3rem;
    color: var(--black);
}

.container-logo h1 a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-style: oblique;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--black);
    padding-right: 2.5rem;
    border-right: 1px solid var(--black);
}

.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: var(--black);
    padding-left: 1rem;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
    color: var(--black);
}

/* NAVBAR */

.container-navbar {
    background-color: var(--blue);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: var(--white);
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid var(--white);
    border-radius: 2rem;
    background-color: var(--white);
    height: 3rem;
    overflow: hidden;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: var(--black);
    cursor: pointer;
}

.search-from input::-webkit-search-cancel-button {
    appearance: none;
}

.search-form .btn-search {
    border: none;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
}

.btn-search i{
    font-size: 1.5rem;
    color: var(--white);
}

/* BANNER */

.banner {
    background-image: linear-gradient(100deg, #000, #00000020), url('/img/banner.png');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: rgb(206, 144, 11);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: var(--grey);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
    font-size: 1.1rem;
}