@import url('https://fonts.googleapis.com/css2?family=Mali&family=Overpass:wght@200&family=Roboto+Condensed&display=swap');

:root {
    --blue: #284B63;
    --green: #3C6E71;
    --white: #FFFFFF;
    --grey: #D9D9D9;
    --black: #353535;
}

html {
    font-size: 62.5%;
    font-family: 'Overpass';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */

.container-hero {
    background-color: var(--blue);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i {
    font-size: 3rem;
    color: var(--grey);
}

.container-logo h1 a {
    text-decoration: none;
    color: var(--grey);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--grey);
    padding-right: 2.5rem;
    border-right: 1px solid var(--grey);
}

.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: var(--grey);
    padding-left: 1rem;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
    color: var(--grey);
}

/* NAVBAR */

.container-navbar {
    background-color: var(--green);
}