@import url('https://fonts.googleapis.com/css2?family=Mali&family=Overpass:wght@200&family=Roboto+Condensed&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Overpass';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */

.container-hero {
    background-color: rgb(46, 48, 54);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}